---
import Base from '../layouts/Base.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Categories from '../components/Categories.astro';
import Featured from '../components/Featured.astro';
import JobsEvents from '../components/JobsEvents.astro';
import Deals from '../components/Deals.astro';
import Newsletter from '../components/Newsletter.astro';
import ProCta from '../components/ProCta.astro';
import Footer from '../components/Footer.astro';
---

<Base>
  <Header />
  <main id="contenu">
    <Hero />
    <Categories />
    <Featured />
    <Newsletter />
    <JobsEvents />
    <Deals />
    <ProCta />
  </main>
  <Footer />
</Base>
